<app-nav-comprador></app-nav-comprador>
<br>
<div class="container">
  <div class="row">

    <h1 class="text-center">Preguntas Frecuentes</h1>
    <main>
      <div class="faq-box">
        <div class=""> <strong>¿Cómo cambio mi contraseña?</strong></div>
        <div class="">
          <p>Para cambiar tu contraseña, sigue estos pasos:</p>
          <ol>
            <li>Ingresa a tu cuenta.</li>
            <li>Dirígete a la sección de configuración de la cuenta.</li>
            <li>Selecciona la opción "Cambiar contraseña".</li>
          </ol>
          <p>Completa el proceso y tu contraseña será actualizada.</p>
        </div>
      </div>
      <div class="faq-box">
        <div class=""><strong>¿Cómo personalizo mi perfil?</strong></div>
        <div class="">
          <p>Para personalizar tu perfil, sigue estos pasos:</p>
          <ol>
            <li>Ve a la página de perfil.</li>
            <li>Selecciona la opción "Editar perfil".</li>
            <li>Añade una foto y actualiza tu información personal.</li>
          </ol>
          <p>Tus cambios se guardarán automáticamente.</p>
        </div>
      </div>
      <div class="faq-box">
        <div class=""><strong>¿Cómo recupero mi cuenta si olvido mi nombre de usuario?</strong></div>
        <div class="">
          <p>Si olvidas tu nombre de usuario, sigue estos pasos:</p>
          <ol>
            <li>En la página de inicio de sesión, haz clic en "¿Olvidaste tu nombre de usuario?".</li>
            <li>Ingresa la dirección de correo electrónico asociada a tu cuenta.</li>
            <li>Sigue las instrucciones en el correo electrónico que recibirás para recuperar tu nombre de
              usuario.</li>
          </ol>
        </div>
      </div>
      <div class="faq-box">
        <div class=""><strong>¿Qué hacer si experimento problemas de rendimiento en la aplicación?</strong></div>
        <div class="">
          <p>Si experimentas problemas de rendimiento, sigue estos pasos:</p>
          <ol>
            <li>Verifica que estás utilizando la última versión del navegador.</li>
            <li>Actualiza tu navegador si es necesario.</li>
            <li>Si el problema persiste, contacta al soporte técnico para recibir asistencia adicional.</li>
          </ol>
        </div>
      </div>
    </main>
  </div>
</div>
<app-footer></app-footer>
