<div class="container-fluid">
  <ul class="nav nav-tabs" id="myTabs" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="tab1-tab" data-bs-toggle="tab" data-bs-target="#tab1" type="button" role="tab"
        aria-controls="tab1" aria-selected="true">Pedidos</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="tab2-tab" data-bs-toggle="tab" data-bs-target="#tab2" type="button" role="tab"
        aria-controls="tab2" aria-selected="false">Despachados</button>
    </li>
  </ul>
  <div class="tab-content" id="myTabsContent">
    <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab1-tab">
      <!-- Contenido del Tab 1 -->
      <div class="table table-responsive">
        <table class="table table-bordered  ">
          <thead>
            <tr class="text-center">
              <th>Codigo</th>
              <th>fecha</th>
              <th>Usuario</th>
              <th>Cantidad de productos</th>
              <th>Opciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let p of listPedidos" class="text-center">
              <td>{{p.codigo}}</td>
              <td>{{p.fecha_pedido}}</td>
              <td>{{p.usuario_id}}</td>
              <td>{{p.id}}</td>
              <td>
                <button (click)="verPedido(p.id)" type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal">
                  <i class="fa-solid fa-magnifying-glass"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab2-tab">
      <!-- Contenido del Tab 2 -->
      <div class="table table-responsive">
        <table class="table table-bordered  ">
          <thead>
            <tr class="text-center">
              <th>Imagen</th>
              <th>Nombre</th>
              <th>Talla</th>
              <th>Categorías</th>
              <th>Precio</th>
              <th>Color</th>
              <th>Cantidad</th>
              <th>Opciones</th>
            </tr>
          </thead>
          <tbody>
            <tr class="text-center">
              <td>
                <!-- imagen del producto -->
                <img
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSUlAzrvSRW9TgKFK4bwOArA04G4G41mSFPkw&usqp=CAU"
                  class="rounded" alt="Descripción de la imagen" style="width: 60p; height: 60px;">
              </td>
              <td>Producto</td>
              <td>50</td>
              <td>$20.00</td>
              <td>Azul</td>
              <td>10</td>
              <td>Despachado</td>
              <td>
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                  <i class="fa-solid fa-xmark"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- <table class="table">
        <thead>
          <tr>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Talla</th>
            <th>Precio</th>
            <th>Color</th>
            <th>Cantidad</th>
            <th>Estado</th>
            <th>Opciones</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <img src="https://www.paylesscolombia.co/26571-thickbox_default/men_s_encore_slip-on.jpg" alt="Producto 1"
                class="img-fluid" style="width: 100px; height: 100px;">
            </td>
            <td>Producto B</td>
            <td>20</td>
            <td>$25.00</td>
            <td>Rojo</td>
            <td>15</td>
            <td>Despachado</td>
            <td>
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">>ver
              </button>
            </td>
          </tr>
        </tbody>
      </table> -->
    </div>
  </div>
</div>

<div class="modal modal-xl" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Detalles</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col">
            <div class="card p-2">
              <div class="card m-1" *ngFor="let p of productosPedido">
                <div class="card-body">
                  <h5 class="card-title">{{p.id}}</h5>
                  <p class="card-text">Cantidad: <span class="font-weight-bold">{{p.cantidad}}</span></p>
                  <p class="card-text">precio: <span class="font-weight-bold">{{p.precio}}</span></p>
                  <p class="card-text">total: <span class="font-weight-bold">{{p.total}}</span></p>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">{{clientePedido.name+" "+clientePedido.last_name}}</h5>
                <p class="card-text">Correo: <span class="font-weight-bold">{{clientePedido.email}}</span></p>
                <p class="card-text">direccion: <span class="font-weight-bold">{{clientePedido.direccion}}</span></p>
                <p class="card-text">telefono: <span class="font-weight-bold">{{clientePedido.telefono}}</span></p>
                <p class="card-text">Fecha del pedido: <span class="font-weight-bold">{{pedido.fecha_pedido}}</span></p>
                <p class="card-text">Total del pedido: <span class="font-weight-bold">{{total}}</span></p>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Despachar</button>
        </div>
      </div>
    </div>
  </div>