
    <app-nav-vendedor></app-nav-vendedor><br>
    <div class="container">
        <div class="row">
            <h1>Terminos y condiciones</h1>
            <p>
                Bienvenido a Shoes Company, tu destino en línea para encontrar calzado de calidad. Al acceder y utilizar
                nuestro sitio web, aceptas cumplir con los siguientes términos y condiciones. Te recomendamos que leas
                cuidadosamente esta información antes de realizar cualquier compra o navegar por nuestro sitio.
            </p>
    
            <h1>Cookies</h1>
            <p>
                Empleamos el uso de cookies. Al utilizar el sitio web de Shoes Company, usted acepta el uso de cookies
                de acuerdo con la política de privacidad de Shoes Company. La mayoría de los modernos sitios web
                interactivos de hoy en día usan cookies para permitirnos recuperar los detalles del usuario para cada
                visita. Las cookies se utilizan en algunas áreas de nuestro sitio para habilitar la funcionalidad de
                esta área y la facilidad de uso para las personas que lo visitan. Algunos de nuestros socios
                afiliados/publicitarios también pueden usar cookies.
            </p>
    
            <h1>Licencia</h1>
            <p>
                A menos que se indique lo contrario, Shoes Company y/o sus licenciatarios les pertenecen los derechos de
                propiedad intelectual de todo el material en Shoes Company. Todos los derechos de propiedad
                intelectual están reservados. Puedes ver y/o imprimir páginas desde (Agrega URL) para tu uso personal
                sujeto a las restricciones establecidas en estos términos y condiciones.
            </p>
    
            <h1>No debes:</h1>
            <p>
    
                - Compartir información falsa o engañosa. <br>
                - Violentar los derechos de propiedad intelectual.<br>
                - Realizar actividades ilegales o inmorales.<br>
                - Publicar contenido ofensivo, difamatorio o perjudicial.<br>
                - Utilizar el sitio para enviar spam o realizar acciones similares.
            </p>
    
            <h1> Instrucciones de Uso:</h1>
            <p>
    
                - Asegúrate de proporcionar información precisa al realizar una compra.<br>
                - Verifica la disponibilidad de productos antes de realizar tu pedido.<br>
                - Sigue las instrucciones de cuidado y mantenimiento del calzado proporcionadas por el fabricante.<br>
            </p>
    
            <h1>Aceptacion de Terminos</h1>
            <p>
                Al utilizar este sitio web, aceptas cumplir con todos los términos y condiciones establecidos aquí. Nos
                reservamos el derecho de modificar, actualizar o cambiar estos términos en cualquier momento sin previo
                aviso.
            </p>
    
            <h1>Aviso legal</h1>
            <p>
                En la medida máxima permitida por la ley aplicable, excluimos todas las representaciones, garantías y
                condiciones relacionadas con nuestro sitio web y el uso de este sitio web (incluyendo, sin limitación,
                cualquier garantía implícita por la ley con respecto a la calidad satisfactoria, idoneidad para el
                propósito y/o el uso de cuidado y habilidad razonables). Nada en este aviso legal:
            </p>
    
            <p>
                Las limitaciones y exclusiones de responsabilidad establecidas en esta Sección y en otras partes de este
                aviso legal:
            </p>
            <ul>
                <li>Están sujetas al párrafo anterior; y
                    Rigen todas las responsabilidades que surjan bajo la exención de responsabilidad o en relación con
                    el objeto de esta exención de responsabilidad, incluidas las responsabilidades que surjan en
                    contrato, agravio (incluyendo negligencia) y por incumplimiento del deber legal.</li>
            </ul>
            <p>
                En la medida en que el sitio web y la información y los servicios en el sitio web se proporcionen de
                forma gratuita, no seremos responsables de ninguna pérdida o daño de ningún tipo. <br> <br>
    
                Gracias por elegir Shoes Company. Estamos comprometidos a brindarte una experiencia de navegación y
                compra segura y satisfactoria.
            </p>
        </div>
    </div><br>
    <app-footer></app-footer>
