<nav class="navbar navbar-expand-lg" style="background-color: #20242C">
    <div class="container-fluid">
      <img src="../assets/logo.png" routerLink="" width="80" height="80" alt="Logo">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" routerLink="">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" routerLink="locales">Locales</a>
          </li>
          <!-- otros enlaces izquierda -->
        </ul>
        <form class="d-flex" role="search">
          <!-- imagenes parte derecha -->
          <div class="d-flex justify-content-between">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item dropdown" >
                <a class="nav-link active text-white" routerLink="">
                  <h6>
                    cerrar cecion
                  </h6>
                </a>
              </li>
            </ul>
          </div>
        </form>
      </div>
    </div>
  </nav>