<div class="card p-4 rounded-lg">
    <form [formGroup]="frmLongin" class="formulario">
        <h2 class="mb-4 text-center font-weight-bold" style="color: #20242C;">Inicia sesión</h2>
        <fieldset>
            <div class="form-group">
                <label for="email" style="color: #20242C;">Nombre de usuario</label>
                <input type="text" formControlName="username" class="form-control rounded_1" id="email" placeholder="nombre de usuario">
            </div>
            <div class="form-group">
                <label for="password" style="color: #20242C;">Contraseña</label>
                <input type="password" formControlName="password" class="form-control rounded_1" id="password"
                    placeholder="Introduce tu contraseña">
            </div>
            <a href="#" class="mb-3 d-block text-center" id="link">¿Has olvidado tu contraseña?</a>
            <button type="submit" style="border-radius: 16px; background: #68548C; color: #FFF;"
                class="btn btn-block rounded-pill" (click)="login()">Iniciar sesión</button>
                <button class="btn btn-block rounded-pill" (click)="cerrar()">cerrar</button>
        </fieldset>
    </form>
    <p class="text-center mt-3" style="color: #20242C;">¿No tienes cuenta?<a routerLink="/registro" > Crea una</a></p>
    
    
</div>
