<div>
    <div class="row">
        <div class="table-responsive col-lg-8"
            style="width: 100%; height: 100%; background: white; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)">
            <table class="table table">
                <thead>
                    <tr>
                        <th scope="col">Producto</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Precio</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="">
                        <td>
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ0wf_Pk8PmfLqOEZU92E_JdMqzkf8xN7lgvQ&usqp=CAU"
                                class="rounded" alt="Descripción de la imagen" style="width: 60p; height: 60px;">
                        </td>
                        <td>
                            <div class="info-container">
                                <div class="info-box title">
                                    <h5>zapato</h5>
                                </div>
                                <div class="info-box">Rojo</div>
                                <div class="info-box">Talla:40</div>
                            </div>
                        </td>
                        <td>
                            <div class="container mt-3">
                                <div class="d-flex justify-content-between">
                                    <button class="btn btn-primary" onclick="decrement()">-</button>
                                    <input type="number" id="myNumber" value="0"
                                        class="form-control d-inline-block mx-2">
                                    <button class="btn btn-primary" onclick="increment()">+</button>
                                </div>
                            </div>
                        </td>
                        <td>$100.000</td>
                        <td><a href="" class="btn btn-dark btn-sn">X</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="table-responsive col-lg-4"
            style="width: 100%; height: 100%; background: white; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)">
            <table class="table table">
                <thead>
                    <tr>
                        <th scope="col">
                            <h6>TIENDA RAMDON</h6>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="">
                        <td scope="row">
                            <div class="info-container">
                                <div class="info-box title mt-3">Cantidad: --</div>
                                <div class="info-box mt-3">SubTotal: --</div>
                                <div class="info-box mt-3">Descuento: --</div>
                            </div>
                        </td>
                    </tr>
                    <td scope="row">
                        <h2>Total: ----</h2>
                    </td>
                    <tr class="">
                        <td scope="row">
                            <div class="col-lg-8 m-4">
                                <button class="btn mb-3"
                                    style="width: 100%; height: 100%; background: #68548C; border-radius: 15px">Pedir
                                    al vendedor</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
