<div class="container-fluid">
  <div class="row">
    <div class="col-lg-8">
      <div class="table-responsive"
        style="width: 100%; height: 100%; background: white; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)">
        <table class="table table">
          <thead>
            <tr>
              <th scope="col">Producto</th>
              <th scope="col"></th>
              <th scope="col">Cantidad</th>
              <th scope="col">Precio</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr class="">
              <td>
                <img
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ0wf_Pk8PmfLqOEZU92E_JdMqzkf8xN7lgvQ&usqp=CAU"
                  class="rounded" alt="Descripción de la imagen" style="width: 60p; height: 60px;">
              </td>
              <td>
                <div class="container">
                  <div class="info-box title">
                    <h5>zapato</h5>
                  </div>
                  <div class="info-box">Rojo</div>
                  <div class="info-box">Talla:40</div>
                </div>
              </td>
              <td class="align-middle">
                <div class="input-group align-items-center">
                  <button class="btn btn-outline-secondary btn-sm" type="button" (click)="decrement()">
                    <i class="fa-solid fa-minus"></i>
                  </button>
                  <input type="number" id="myNumber" class="form-control" [(ngModel)]="myNumber" value="1" min="1"
                    aria-label="">
                  <button class="btn btn-outline-secondary btn-sm" type="button" (click)="increment()">
                    <i class="fa-solid fa-plus"></i>
                  </button>
                </div>
              </td>
              <td class="p-4" id="abs-center">$100.000</td>
              <td><a href="" class="btn btn-dark m-4">X</a></td>
            </tr>
            <tr class="">
              <td>
                <img
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ0wf_Pk8PmfLqOEZU92E_JdMqzkf8xN7lgvQ&usqp=CAU"
                  class="rounded" alt="Descripción de la imagen" style="width: 60p; height: 60px;">
              </td>
              <td>
                <div class="container">
                  <div class="info-box title">
                    <h5>zapato</h5>
                  </div>
                  <div class="info-box">Rojo</div>
                  <div class="info-box">Talla:40</div>
                </div>
              </td>
              <td class="align-middle">
                <div class="input-group align-items-center">
                  <button class="btn btn-outline-secondary btn-sm" type="button" (click)="decrement()">
                    <i class="fa-solid fa-minus"></i>
                  </button>
                  <input type="number" id="myNumber" class="form-control" [(ngModel)]="myNumber" value="1" min="1"
                    aria-label="">
                  <button class="btn btn-outline-secondary btn-sm" type="button" (click)="increment()">
                    <i class="fa-solid fa-plus"></i>
                  </button>
                </div>
              </td>
              <td class="p-4" id="abs-center">$100.000</td>
              <td><a href="" class="btn btn-dark m-4">X</a></td>
            </tr>
            <tr class="">
              <td>
                <img
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ0wf_Pk8PmfLqOEZU92E_JdMqzkf8xN7lgvQ&usqp=CAU"
                  class="rounded" alt="Descripción de la imagen" style="width: 60p; height: 60px;">
              </td>
              <td>
                <div class="container">
                  <div class="info-box title">
                    <h5>zapato</h5>
                  </div>
                  <div class="info-box">Rojo</div>
                  <div class="info-box">Talla:40</div>
                </div>
              </td>
              <td class="align-middle">
                <div class="input-group align-items-center">
                  <button class="btn btn-outline-secondary btn-sm" type="button" (click)="decrement()">
                    <i class="fa-solid fa-minus"></i>
                  </button>
                  <input type="number" id="myNumber" class="form-control" [(ngModel)]="myNumber" value="1" min="1"
                    aria-label="">
                  <button class="btn btn-outline-secondary btn-sm" type="button" (click)="increment()">
                    <i class="fa-solid fa-plus"></i>
                  </button>
                </div>
              </td>
              <td class="p-4" id="abs-center">$100.000</td>
              <td><a href="" class="btn btn-dark m-4">X</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="table-responsive"
        style="width: 100%; height: 100%; background: white; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)">
        <table class="table table">
          <thead>
            <tr>
              <th scope="col">
                <h6>TIENDA RAMDON</h6>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr class="">
              <td scope="row">
                <div class="info-container">
                  <div class="info-box title mt-3">Cantidad: --</div>
                  <div class="info-box mt-3">SubTotal: --</div>
                  <div class="info-box mt-3">Descuento: --</div>
                </div>
              </td>
            </tr>
            <tr>
              <td scope="row">
                <h2>Total: ----</h2>
              </td>
            </tr>
            <tr class="">
              <td scope="row">
                <div class="col-lg-8 m-4 ">
                  <button class="btn mb-3"
                    style="width: 100%; height: 100%; background: #68548C; border-radius: 15px">Pedir
                    al vendedor</button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div><br>
<app-footer></app-footer>