<h2>Inventario</h2>
<div class="text-lg-right">
    <button type="submit"
            class="bi bi-plus-square btn btn-secondary" 
            data-bs-toggle="modal" 
            data-bs-target="#exampleModal">Agregar</button>
</div>
<br>
<div class="table table-responsive">
    <table class="table table-bordered  ">
        <thead>
            <tr>
                <th>Imagen</th>
                <th>Nombre</th>
                <th>Talla</th>
                <th>Categorías</th>
                <th>Precio</th>
                <th>Color</th>
                <th>Cantidad</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let producto of listPrdocutos">
                <td>
                    
                </td>
                <td>{{producto.nombre}}</td>
                <td>{{producto.talla}}</td>
                <td>{{producto.categoria}}</td>
                <td>{{producto.precio}}</td>
                <td>{{producto.color}}</td>
                <td>{{producto.disponible}}</td>
                <td>
                  <button type="submit"
                  class="bi bi-plus-square btn btn-warning m-1" 
                  data-bs-toggle="modal" 
                  data-bs-target="#exampleModal">editar</button>
                    <a  class="btn btn-danger btn-sm bi bi-trash3 m-1">Eliminar</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="modal modal-xl" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Agregar Producto</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <form [formGroup]="FrmProducto">
              <input type="text"
              class="form-control m-2"
              type="text"
              placeholder="Nombre del producto"
              formControlName="nombre"
              >
              <input type="file"
              class="form-control m-2"
              type="text"
              placeholder="descripcion del producto"
              formControlName="descripcion"
              >
  
              <input type="text"
              class="form-control m-2"
              type="number"
              placeholder="precio del producto"
              formControlName="precio"
              >
  
              <input type="text"
              class="form-control m-2"
              type="text"
              placeholder="color del producto"
              formControlName="color"
              >
              <select class="form-select m-2" aria-label="Default select example"  formControlName="genero">
                <option selected>Seleciona una opción</option>
                <option value="Femeninos">Femeninos</option>
                <option value="Masculinos">Masculinos</option>
                <option value="Unisex">Unisex</option>
              </select>
  
              <input type="text"
              class="form-control m-2"
              type="text"
              placeholder="Marca del producto"
              formControlName="marca"
              >
  
              <select class="form-select m-2" aria-label="Default select example"  formControlName="categoria">
                <option selected >Seleciona una opción</option>
                <option *ngFor="let c of listCategorias" value="{{c.id}}" >{{c.descripcion}}</option>
               
              </select>
  
              <select class="form-select m-2" aria-label="Default select example"  formControlName="talla">
                <option selected>Seleciona una talla</option>
                <option *ngFor="let t of listTallas" value="{{t.id}}">{{t.descripcion}}</option>

              </select>
  
              <input type="text"
              class="form-control m-2"
              type="number"
              placeholder="Cantidad disponible del producto"
              formControlName="disponibles"
              >
              <button type="button" class="btn btn-primary" (click)="guardar()" >Guardar Cambios</button>
            </form>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
  