<div class="row">
    <div class="col-3 col-md-3  shadow p-3 m-3 text-center border" style="height: 27rem;" *ngFor="let local of listaLocales">
        <div class="circulo">
            <img src="../img/7431863.jpg" alt="imagen" class="img-fluid rounded-circle">
        </div>
        <div>
            <br>
            <h2>{{local.nombre_local}}sadas</h2>
            <br>
            <p class="mb-1">Número telefónico</p>
            <p class="mb-1">{{local.numero}}asdad</p>
            <p class="mb-1">Dirección</p>
            <p class="mb-1">{{local.direccion}}adsda</p>
            <p class="mb-1">{{local.correo}}asdad</p>
        </div>
    </div>

    <!-- <div style="margin: 2%;" class="card text-center"*ngFor="let local of listaLocales" >
        <div class="card-head">
          
            <img style="height: 100px; width: 100px;" src="https://us.123rf.com/450wm/antoshkaforever/antoshkaforever2004/antoshkaforever200400007/145925008-local-s%C3%ADmbolo-de-producci%C3%B3n-local-negocios-turismo-comercios-plantilla-para-cartel-banner.jpg?ver=5" alt="zapato">
        </div>
        <div class="card-body">
            <h3>{{local.nombre_local}}</h3>
            <button style="background-color: blueviolet;" (click)="verLocal(local.id)" class="btn">ver</button>
           
        </div>
    </div> -->
</div>