<div style="height: 90%;" class="container">
    <div class="row ">
        <div class="col-lg-3 col-sm-12 shadow p-3 m-3 text-center">
            <div class="circulo">
                <img src="../img/usuario negro.png" alt="imagen">
            </div>
            <h2>Ramon salazar</h2>
            <a routerLink="informacion" class="btn btn-custom p-2" >Informacion</a>
            <a routerLink="cambiar" class="btn btn-custom">Cambiar contraseña</a>
            <a class="btn btn-custom">Cerrar sesión</a>
        </div>

        <div class="col-lg-8 col-sm-12 m-3 p-3 border shadow">
           <router-outlet></router-outlet>
        </div>
    </div>
</div>
