<main class="container">
    <div class="row">
        <div class="col-md-6">
            <div id="carouselExampleIndicators" class="carousel slide">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco/10d1d941-19c7-4e86-a151-45cb2da27c4a/air-force-1-07-zapatillas-s4x0HB.png"
                alt="imagen-producto" class="img-fluid">
                  </div>
                  <div class="carousel-item ">
                    <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/e0829a8af3da4cc3bbc8af8800a850a7_9366/CAMPUS_00s_Rojo_H03474_01_standard.jpg"
                    alt="imagen-producto" class="img-fluid">
                  </div>
                  <div class="carousel-item">
                    <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/cf88002144ba4e32aa34afaf0075c835_9366/Tenis_adidas_Supermodified_YNuK_Rojo_IE2176_01_standard.jpg" class="d-block w-100" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden"><</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">></span>
                </button>
              </div> 
        </div>
        <div class="col-md-6">
            <div class="container-info-product">
                <div class="container-price">
                    <h3 class="strong">{{producto.nombre}}</h3>
                    <h5>{{producto.precio}}</h5>
                    <p class="strong">
                       {{producto.descripcion}}
                    </p>
                    <p class="strong">
                      Marca:  {{producto.marca}}
                    </p>
                    <p class="strong">
                      Talla:  {{producto.talla}}
                    </p>
                    <p class="strong">
                       Color: {{producto.color}}
                    </p>
                    <p class="strong">
                       Local: {{producto.local}}
                    </p>

                </div>
                <div> Cantidad</div>
                <div class="container-quantity">
                    <input type="number" placeholder="1" value="1" min="1" class="form-control input-quantity"
                        id="quantity" />
                    <div class="btn-increment-decrement">
                    </div>
                </div>
                <div>Total:</div>
                <p id="total">{{producto.precio}}</p>
                <br>
                <button class="btn btn-success m-1" onclick="comprar()">
                    <a class="fa-solid fa-plus"></a> Comprar
                </button>
                <button class="btn btn-primary m-1" onclick="agregarCarrito()">
                    <i class="fa-solid fa-plus"></i> Agregar
                </button>
            </div>
        </div>
    </div>
</main>
