<h1 class="text-center">Tú Información</h1>
<br>
<div class="row">
    <div class="col-lg-5 col-sm-12 ">
        <label class="form-label m-2 r-2 font-weight-bold Negrita">Nombre </label>
        <input type="text" class="entrada m-1 shadow" id="Nombre" max="12" min="1"
            placeholder="Nombre">

        <label class="form-label m-2 r-2 font-weight-bold Negrita">Apellido</label>
        <input type="number" class="entrada m-1 shadow" id="Apellido" placeholder="Apellido" value="" max="999" min="0">
    </div>
    <div class="col-lg-5 col-sm-12 ">
        <label class="form-label m-2 r-2 font-weight-bold Negrita">Correo</label>
        <input type="text" class="entrada m-1 shadow" id="Correo" placeholder="Correo">

        <label class="form-label m-2 r-2  font-weight-bold Negrita">Teléfono</label>
        <input type="number" class="entrada m-1 shadow" id="Telefono" placeholder="Teléfono" value="" max="999" min="0">

        <label class="form-label m-2 r-2 font-weight-bold Negrita">Subir imagen</label>
        <form action="/tu_ruta_de_procesamiento" method="post" enctype="multipart/form-data">
            <input type="file" name="archivo" class="from__file" accept=".png" required>
            <input type="submit" class="from__submit">
        </form>
    </div>
</div>
