<h1 class="text-center">Tú Información</h1>
<br>
<div class="row">
    <div class="col-lg-5 col-sm-12 ">
        <label class="form-label m-2 r-2 font-weight-bold Negrita">Nombre de usuario </label>
        <input type="text" class="entrada m-1 shadow" id="Nombre" max="12" min="1"
            placeholder="Nombre de usuario" value="{{usuario.username}}">
        <label class="form-label m-2 r-2 font-weight-bold Negrita">Nombre </label>
        <input type="text" class="entrada m-1 shadow" id="Nombre" max="12" min="1"
            placeholder="Nombre" value="{{usuario.nombre_usuario}}">

        <label class="form-label m-2 r-2 font-weight-bold Negrita">Apellido</label>
        <input type="text" class="entrada m-1 shadow" id="Apellido" placeholder="Apellido" value="{{usuario.apellido_usuario}}" max="999" min="0">

        <label class="form-label m-2 r-2 font-weight-bold Negrita">Tipo de documento</label>
        <input type="text" class="entrada m-1 shadow" id="Apellido" placeholder="Apellido" value="{{usuario.tipo_documento}}" max="999" min="0">

        <label class="form-label m-2 r-2 font-weight-bold Negrita">Numero de documento</label>
        <input type="number" class="entrada m-1 shadow" id="Apellido" placeholder="Numero de documento" value="{{usuario.documento_identidad}}" max="999" min="0">
    </div>
    <div class="col-lg-5 col-sm-12 ">
        <label class="form-label m-2 r-2 font-weight-bold Negrita">Correo</label>
        <input type="email" class="entrada m-1 shadow" id="Correo" value="{{usuario.email}}" placeholder="Correo">

        <label class="form-label m-2 r-2  font-weight-bold Negrita">Teléfono</label>
        <input type="tel" class="entrada m-1 shadow" id="Telefono" placeholder="Teléfono" value="{{usuario.telefono_usuario}}" max="999" min="0">

        <label class="form-label m-2 r-2  font-weight-bold Negrita">Direccion</label>
        <input type="text" class="entrada m-1 shadow" id="Telefono" placeholder="Direccion" value="{{usuario.direccion_usuario}}" max="999" min="0">

        <label class="form-label m-2 r-2 font-weight-bold Negrita">Perfil</label>
        <form action="/tu_ruta_de_procesamiento" method="post" enctype="multipart/form-data">
            <input type="file" name="archivo" class="from__file" accept=".png" required>
        </form>
        <a class="btn btn-custom" >Actualizar informacion</a>
    </div>
</div>
