<app-nav-comprador></app-nav-comprador>
<section id="formulario" class="bg-white" style="border-radius: 16px; box-shadow: 5px 5px 15px;">
    <h2>Formulario de PQRS</h2>
    <form method="post">
        <label for="tipo" class="font-weight-bold Negrita">Tipo de solicitud:</label>
        <select name="tipo" id="tipo" style="border-radius: 16px;">
            <option value="pregunta">Pregunta</option>
            <option value="queja">Queja</option>
            <option value="reclamo">Reclamo</option>
            <option value="sugerencia">Sugerencia</option>
        </select>
        <label for="tipoTienda" class="font-weight-bold Negrita">Seleccionar Tienda</label>
        <select  formControlName="local" name="tipoTienda" id="tipoTienda" style="border-radius: 16px;">
            <option *ngFor="let l of listLocales" value="{{l.id}}">{{l.nombre_local}}</option>
        </select>

        <label for="mensaje" class="font-weight-bold Negrita">Descripcion:</label>
        <textarea id="mensaje" name="mensaje" rows="4" required style="border-radius: 16px;"></textarea>

        <!-- <div class="form-group ">
            <label for="imagen" class="font-weight-bold Negrita">Adjuntar Imagen:</label>
            <input type="file" class="form-control-file " id="imagen" name="imagen" style="border-radius: 16px;">
        </div> -->
        <div class="d-flex justify-content-center">
            <button type="submit"
                (click)="enviarPqr()"
                style=" max-width: fit-content; border-radius: 16px; background: #68548C; color: #FFF;"
                class="btn btn-block">Enviar formulario
            </button>
        </div>
    </form>

</section>
<app-footer></app-footer>
