<h2>Ofertas</h2>
<div class="text-lg-right">
    <button type="submit"
            class="bi bi-plus-square btn btn-secondary" 
            data-bs-toggle="modal" 
            data-bs-target="#exampleModal">Agregar</button>
</div>
<br>
<div class="table table-responsive">
    <table class="table table-bordered  ">
        <thead>
            <tr>
                <th>Numero radicado</th>
                <th>Tipo</th>
                <th>fecha</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let p of listPqrs">
                <td>{{p.numero_radicado}}</td>
                <td>{{p.fecha_estimada}}</td>
                <td>{{p.tipo_peticion}}</td>
                <td>
                   
                    <button type="submit"
                    class="bi bi-plus-square btn btn-sm btn-warning" 
                    data-bs-toggle="modal" 
                    data-bs-target="#exampleModal">editar</button>
                    <a class="btn btn-danger btn-sm bi m-1 bi-trash3" >Eliminar</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="modal modal-xl" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Agregar oferta</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <form >

              <input type="text"
              class="form-control m-2"
              type="text"
              placeholder="Nombre de la oferta"
              formControlName="nombre"
              >
  
              <input type="text"
              class="form-control m-2"
              type="number"
              placeholder="Descuento"
              formControlName="descuento"
              >
  
              <input type="date"
              class="form-control m-2"
              formControlName="fecha_inicio"
              >

              <input type="date"
              class="form-control m-2"
              formControlName="fecha_fin"
              >
              <select class="form-select" formControlName="producto">
                <option >hola</option>
              </select>
            </form>
          </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary"  >Guardar Oferta</button>
            <button type="button" class="btn btn-primary" >editar</button>
        </div>
      </div>
    </div>
  </div>
