<footer class="bg-dark text-center text-lg-start text-white">
    <div class="container p-4">
        <div class="row my-6">
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <div class="rounded-circle  shadow-1-strong d-flex align-items-center justify-content-center mb-4 mx-auto"
                    style="width: 150px; height: 150px;">
                    <img src="../img/Imagen de WhatsApp 2023-11-30 a las 21.17.15_cbcc47bc.png" height="70"
                        alt="" loading="lazy" />
                </div>
                <ul class="list-unstyled d-flex flex-row justify-content-center">
                    <li>
                        <a class="text-white px-2" href="#!">
                            <i class="fab fa-facebook-square"></i>
                        </a>
                    </li>
                    <li>
                        <a class="text-white px-2" href="#!">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                    <li>
                        <a class="text-white ps-2" href="#!">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase mb-4">Servicio al cliente</h5>
                <ul class="list-unstyled">
                    <li class="mb-1">
                        <a href="#!"  class="text-white"><i class="fas fa-paw pe-3"></i>Preguntas frecuentes</a>
                    </li>
                    <li class="mb-1">
                        <a href="pqr.html" class="text-white"><i class="fas fa-paw pe-3"></i>P.Q.R.S</a>
                    </li>
                    <li class="mb-1">
                        <a href="ter_y_con.html" class="text-white"><i class="fas fa-paw pe-3"></i>Terminos y
                            condiciones
                        </a>
                    </li>
                    <li class="mb-1">
                        <a href="#!" class="text-white"><i class="fas fa-paw pe-3"></i>Schoescom@gmail.com</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase mb-4">Locales</h5>
                <ul class="list-unstyled">
                    <li class="mb-2">
                        <a href="#!" class="text-white"><i class="fas fa-paw pe-3"></i>Mariza shoes</a>
                    </li>
                    <li class="mb-2">
                        <a href="#!" class="text-white"><i class="fas fa-paw pe-3"></i>Todo a mil</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase mb-4 ">Redes sociales</h5>
                <a class="btn btn-secondary btn-floating m-1" style="background-color: #5a5656"
                    href="https://www.instagram.com/" role="button"><i class="bi bi-instagram"></i></a>
                <a class="btn btn-secondary btn-floating m-1" style="background-color: #5a5656"
                    href="https://www.facebook.com/?locale=es_LA" role="button"><i
                        class="bi bi-facebook"></i></a>
            </div>
        </div>
    </div>
  </footer>