
<div class="container-fluid">
    <div class="row ">
        <div class="col-3 col-md-3 col-sm-5 col-xxl-2 shadow p-3 m-3 text-center border" style="height: 27rem;">
            <div class="circulo">
                <img src="../img/7431863.jpg" alt="imagen" class="img-fluid rounded-circle">
            </div>
            <div>
                <br>
                <h2>Tienda Randon</h2>
                <br>
                <p class="mb-1">Número telefónico</p>
                <p class="mb-1">+57 3215485798</p>
                <p class="mb-1">Dirección</p>
                <p class="mb-1">Carrera 20 #13-24</p>
                <p class="mb-1">tiendagenerica123@outlook.com</p>
            </div>
        </div>
        <div class="container-fluid p-md-3  mr-4 col">
            <div class="row  ">
            <div class="card m-3 " style="width: 18rem;">
                <img class="img-fluid" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQhyRZrXGhbu6iCk7i1W0UAT55Jq_T1oylfPA&usqp=CAU"
                    style="max-height: 9rem; min-height: 9rem;" alt="...">
                <div class="card-body">
                    <h6 class="card-text">
                        <p>Nombre de zapato</p>
                    </h6>
                    <p class="card-text">Marca</p>
                    <p class="card-text">Precio</p>
                    <div class="container d-flex justify-content-center align-items-center">
                        <a href="" class="btn btn-dark " style=" border-radius: 70%;"><i
                                class="fa-solid fa-plus fa-lg"></i></a>
                    </div>
                </div>
            </div>

        </div>
        </div>
    </div>
</div>