<div class="container-fluid">
    <div class="row">
        <div class="col-md-3  shadow p-3 m-3 text-center border">
            <div class="circulo">
                <img src="../img/7431863.jpg" alt="imagen" class="img-fluid rounded-circle">
            </div>
            <div>
                <br>
                <h2>{{local.nombre_local}}</h2>
                <br>
                <p class="mb-1">{{local.telefono_local}}</p>
                <p class="mb-1">{{local.direccion_local}}</p>
            </div>
            
        </div>
        <div class="col-lg-4 p-md-5  mr-4" *ngFor="let producto of listaProductos">
            <div class="card">
                <div class="card-head">
                    <img src="" alt="zapato">
                </div>
                <div class="card-body">
                    <div >
                        <h4>{{producto.nombre}}</h4>
                        <h3>{{producto.precio}}</h3>
                    </div>
                    <p>{{producto.marca}}</p>
                    <img src="../icons/boton-mas.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
